@mixin fontStyle($fWeight, $fSize, $lHeight) {
  font-weight: $fWeight;
  font-size: $fSize;
  line-height: $lHeight;
}

@mixin btnStyle($bgColor, $fColor) {
  background-color: $bgColor;
  border-radius: 3rem;
  color: $fColor;
  font-weight: bold;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: 1.5rem;
  width: 29.5rem;
  height: 5.6rem;
}

@mixin cardStyle($bRadius, $pd, $w, $h) {
  border-radius: $bRadius;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: $pd;
  width: $w;
  height: $h;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@mixin laptop {
  @media (max-width: 1169px) {
    @content;
  }
}

@mixin tablet {
  @media (max-width: 834px) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: 560px) {
    @content;
  }
}
