@font-face {
  font-family: "urbanist-bold";
  src: url(../fonts/Urbanist-Bold.ttf);
}
@font-face {
  font-family: "urbanist-regular";
  src: url(../fonts/Urbanist-Regular.ttf);
}
@font-face {
  font-family: "urbanist-black";
  src: url(../fonts/Urbanist-Black.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "urbanist-regular", sans-serif;
}

body {
  max-width: 1440px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}

a {
  text-decoration: none;
}

h2 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 120%;
  font-family: "urbanist-black";
}

.flex, main .stn-infoCards .infoCards-wrapper, main .stn-infoCards,
main .stn-carCards, main .stn-hero .btn-wrapper, main .btn, header nav, header div {
  display: flex;
  align-items: center;
}

header {
  padding: 1.6rem 16rem;
}
header div {
  padding: 0.8rem;
  border: 1px solid #000;
  border-radius: 4.5rem;
  justify-content: space-between;
}
header img {
  width: 5.2rem;
}
header nav {
  gap: 4rem;
}
header nav a {
  color: #000;
  text-transform: uppercase;
}
header nav a:nth-of-type(1) {
  font-family: "urbanist-black";
  border-bottom: 1px solid #000;
}

main .btn {
  justify-content: space-between;
  background-color: #fff;
  border-radius: 3rem;
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: 1.5rem;
  width: 29.5rem;
  height: 5.6rem;
}
main .btn-green {
  background-color: #a9cba6;
  border-radius: 3rem;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: 1.5rem;
  width: 29.5rem;
  height: 5.6rem;
}
main .stn-hero {
  padding: 0 10rem;
  background: url("../img/Ilustration_Header.png") no-repeat;
  background-size: contain;
  background-position: center top;
  margin: 1.2rem auto;
  border: 1px solid red;
}
main .stn-hero h1 {
  font-weight: 400;
  font-size: 11.8rem;
  line-height: 80%;
  font-family: "urbanist-black";
  padding-left: 13.6rem;
  padding-top: 27.2rem;
}
main .stn-hero .btn-wrapper {
  flex-wrap: wrap;
  padding-top: 8.7rem;
  padding-bottom: 10rem;
  gap: 2rem;
  justify-content: center;
}
main .stn-infoCards,
main .stn-carCards {
  padding: 6.4rem 10rem;
  flex-direction: column;
  justify-content: center;
}
main .stn-infoCards h2,
main .stn-carCards h2 {
  margin-bottom: 1.6rem;
}
main .stn-infoCards .headline-p,
main .stn-carCards .headline-p {
  width: 60rem;
  text-align: center;
}
main .stn-infoCards {
  background: url("../img/bulb_info.png") no-repeat center;
  background-size: auto 70%;
  background-position: left;
  border: 1px solid blue;
}
main .stn-infoCards .infoCards-wrapper {
  margin: 6.4rem auto;
  flex-wrap: wrap;
  gap: 2rem;
}
main .stn-infoCards .infoCards-wrapper .infoCard {
  border-radius: 1.5rem;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: 0 5.1rem;
  width: 23rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #ffffff7b;
  text-align: center;
}
main .stn-infoCards .infoCards-wrapper .infoCard img {
  height: 12rem;
}
main .stn-infoCards .infoCards-wrapper .infoCard h4 {
  font-weight: 900;
  font-size: 1.9rem;
  line-height: 150%;
}
main .stn-infoCards .infoCards-wrapper .infoCard p {
  padding-top: 1.2rem;
  margin-bottom: 2.3rem;
}
main .stn-infoCards .btn {
  padding-right: 7.8rem;
}
main .stn-carCards {
  background: url("../img/bulb_info.png") no-repeat center;
  background-size: auto 70%;
  background-position: left;
  border: 1px solid green;
}

/*# sourceMappingURL=style.css.map */
