@font-face {
  font-family: "urbanist-bold";
  src: url(../fonts/Urbanist-Bold.ttf);
}
@font-face {
  font-family: "urbanist-regular";
  src: url(../fonts/Urbanist-Regular.ttf);
}
@font-face {
  font-family: "urbanist-black";
  src: url(../fonts/Urbanist-Black.ttf);
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  font-family: "urbanist-regular", sans-serif;
}

body {
  max-width: 1440px;
  min-width: 393px;
  margin: 0 auto;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 120%;
}

h2 {
  font-weight: 400;
  font-size: 4rem;
  line-height: 120%;
  font-family: "urbanist-black";
}

a {
  text-decoration: none;
}

.flex, footer .link-box, footer .iconbox-social, footer nav, footer, main .stn-carCards .carCard article, main .stn-carCards .carCard .carCard-textbox-sub, main .stn-carCards .carCard .carCard-textbox, main .stn-carCards .carCards-wrapper, main .stn-infoCards .infoCards-wrapper, main .stn-infoCards,
main .stn-carCards, main .stn-hero .btn-wrapper, main .btn, header nav, header .header-border {
  display: flex;
  align-items: center;
}

header {
  padding: 1.6rem 16rem;
}
@media (max-width: 1169px) {
  header {
    padding: 1.6rem 3.2rem;
  }
}
@media (max-width: 834px) {
  header {
    padding: 1.6rem 3.2rem;
  }
}
@media (max-width: 560px) {
  header {
    padding: 1.6rem;
  }
}
header .header-border {
  padding: 0.8rem;
  border: 1px solid #000;
  border-radius: 4.5rem;
  justify-content: space-between;
}
header img {
  width: 5.2rem;
}
header nav {
  gap: 4rem;
}
@media (max-width: 834px) {
  header nav {
    display: none;
  }
}
@media (max-width: 1169px) {
  header nav {
    gap: 2rem;
  }
}
header nav a {
  color: #000;
  text-transform: uppercase;
}
header nav a:nth-of-type(1) {
  font-family: "urbanist-black";
  border-bottom: 1px solid #000;
}
header .menu-box {
  display: none;
}
@media (max-width: 834px) {
  header .menu-box {
    display: flex;
    padding-right: 1rem;
  }
}
header .menu-box .img-menu {
  width: 2.4rem;
}

main .btn {
  justify-content: space-between;
  background-color: #fff;
  border-radius: 3rem;
  color: #000;
  font-weight: bold;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: 1.5rem;
  width: 29.5rem;
  height: 5.6rem;
}
main .btn-green {
  background-color: #a9cba6;
  border-radius: 3rem;
  color: #fff;
  font-weight: bold;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: 1.5rem;
  width: 29.5rem;
  height: 5.6rem;
}
main .stn-hero {
  padding: 0 10rem;
  background: url("../img/hero_img_mit_h1.png") no-repeat;
  background-size: contain;
  background-position: center top;
}
@media (max-width: 834px) {
  main .stn-hero {
    padding: 0 4rem;
  }
}
@media (max-width: 560px) {
  main .stn-hero {
    padding: 0 2rem;
  }
}
main .stn-hero .btn-wrapper {
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  padding-top: 55rem;
  padding-bottom: 10rem;
}
@media (max-width: 1169px) {
  main .stn-hero .btn-wrapper {
    padding-top: 45rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 834px) {
  main .stn-hero .btn-wrapper {
    padding-top: 33rem;
    padding-bottom: 3rem;
  }
}
@media (max-width: 560px) {
  main .stn-hero .btn-wrapper {
    padding-top: 23rem;
    padding-bottom: 0;
  }
}
main .stn-infoCards,
main .stn-carCards {
  flex-direction: column;
  justify-content: center;
  padding: 6.4rem 10rem;
}
@media (max-width: 1169px) {
  main .stn-infoCards,
main .stn-carCards {
    padding: 0 4.1rem;
    margin: 6.4rem 0;
  }
}
@media (max-width: 834px) {
  main .stn-infoCards,
main .stn-carCards {
    padding: 0 4.1rem;
    margin: 6.4rem 0;
  }
}
@media (max-width: 560px) {
  main .stn-infoCards,
main .stn-carCards {
    padding: 0 1.9 rem;
    margin: 6.4rem 0;
  }
}
main .stn-infoCards h2,
main .stn-carCards h2 {
  margin-bottom: 1.6rem;
  text-align: center;
}
main .stn-infoCards .headline-p,
main .stn-carCards .headline-p {
  text-align: center;
  width: 60rem;
}
@media (max-width: 560px) {
  main .stn-infoCards .headline-p,
main .stn-carCards .headline-p {
    width: 100%;
  }
}
main .stn-infoCards {
  background: url("../img/bulb_info.png") no-repeat center;
  background-size: auto 60%;
  background-position: left;
}
@media (max-width: 1169px) {
  main .stn-infoCards {
    background: none;
  }
}
@media (max-width: 834px) {
  main .stn-infoCards {
    background: none;
  }
}
@media (max-width: 560px) {
  main .stn-infoCards {
    background: url("../img/bulb_info_mobile.png") no-repeat center;
    background-size: contain;
    background-position: center top;
  }
}
main .stn-infoCards .infoCards-wrapper {
  margin: 6.4rem auto;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
main .stn-infoCards .infoCards-wrapper .infoCard {
  border-radius: 1.5rem;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: 0 5.1rem;
  width: 23rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: #ffffff7b;
}
@media (max-width: 560px) {
  main .stn-infoCards .infoCards-wrapper .infoCard {
    background-color: #fff;
  }
}
main .stn-infoCards .infoCards-wrapper .infoCard img {
  height: 12rem;
}
main .stn-infoCards .infoCards-wrapper .infoCard h4 {
  font-weight: 900;
  font-size: 1.9rem;
  line-height: 150%;
}
main .stn-infoCards .infoCards-wrapper .infoCard p {
  padding-top: 1.2rem;
  margin-bottom: 2.3rem;
}
main .stn-infoCards .btn {
  padding-right: 7.8rem;
}
main .stn-carCards {
  background: url("../img/bulb_carCard.png") no-repeat center;
  background-size: contain;
  background-position: center top;
}
main .stn-carCards .carCards-wrapper {
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
  margin-top: 6.4rem;
}
main .stn-carCards .carCard {
  border-radius: 5rem;
  border: 1px solid #000;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
  padding: 0;
  width: 35.3rem;
  height: 54.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fff;
  justify-content: space-between;
}
main .stn-carCards .carCard .img-carCard {
  width: 100%;
}
main .stn-carCards .carCard .carCard-textbox {
  border-top: 1px solid #000;
  background-color: #f0cea0;
  padding: 0 2.4rem 1rem 3.4rem;
  flex-direction: column;
  gap: 0.7rem;
  border-radius: 0 0 5rem 5rem;
  box-shadow: rgba(0, 0, 0, 0.285) -4px -4px 4px inset;
}
main .stn-carCards .carCard .btn {
  justify-content: center;
}
main .stn-carCards .carCard .carCard-textbox-sub {
  justify-content: space-between;
  width: 100%;
}
main .stn-carCards .carCard .carCard-textbox-sub h2 {
  margin-bottom: 0;
}
main .stn-carCards .carCard .carCard-textbox-sub span {
  font-weight: bold;
  font-size: 2rem;
  line-height: 100%;
}
main .stn-carCards .carCard article {
  gap: 0.7rem;
  align-self: flex-start;
}

footer {
  border-top: 2px solid #000;
  flex-direction: column;
  justify-content: center;
  row-gap: 2.4rem;
}
footer nav {
  font-size: 1.2rem;
  text-transform: uppercase;
  gap: 5.5rem;
}
@media (max-width: 834px) {
  footer nav {
    gap: 3.5rem;
  }
}
@media (max-width: 560px) {
  footer nav {
    flex-direction: column;
    row-gap: 0.8rem;
  }
}
footer nav a {
  color: #000;
}
footer .logo_footer {
  margin-top: 2.4rem;
}
footer .iconbox-social {
  gap: 2.4rem;
}
footer .link-box {
  margin-bottom: 2.4rem;
  font-size: 1rem;
  gap: 1rem;
}
footer .link-box a {
  color: #000;
}

/*# sourceMappingURL=style.css.map */
